<div class="container">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href=<%=root_path%>>Roma</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href=<%=pizza_path%>>Pizza <span class="sr-only">(current)</span></a></li>
	        <li><a href=<%=appetizers_path%>>Appetizers/Wings/Salads</a></li>
	        <!--<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>-->
			<li><a href=<%=calzones_path%>>Calzones/Pasta</a></li>
			<li><a href=<%=subs_path%>>Subs/Specials</a></li>
	      </ul>

	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">(919)550-7070</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Address <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="https://maps.google.com/maps?ll=35.664466,-78.210854&z=10&t=m&hl=en&gl=US&mapclient=embed&q=50%20Neuse%20River%20Pkwy%2C%20Suite%209%20clayton%2C%20nc">50 Neuse River Pkwy, Suite 9
					Clayton, Nc 27527</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>
