<!DOCTYPE html>
<html>
<head>
  <title>Romas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= render "shared/plugins" %>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body class="site">
	<%= render "shared/header" %>
	<div id="nav_anchor"></div>
	<%= render "shared/nav" %>
	<div class="container">
		<div class="content">
	    <%= yield %>
    </div>
	</div>

	<div class= "container">
	  <%= render "shared/footer" %>
  </div>

</body>
</html>
